{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Home page</h1>

    <section>
        <p>
            {{ session }}
        </p>
    </section>

</div>
{% endblock %}